.navIconPosition {
    position: absolute;
    top: 1.5rem;
    left: 12.6rem;
    z-index: 1;
}

.navNone {
    text-decoration: none;
    font-weight: 700;
}

.navNone:hover {
    text-decoration: none;
}


/* 轮播图背景颜色 */

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.navAside {
    padding-left: 1rem;
}

.rotationChart {
    margin-bottom: 3rem;
}


/* .list-container {} */

.titleClass {
    padding-bottom: 1rem;
    ;
}

.titleClass a {
    color: black;
}

.content {
    font-size: 0.7rem;
    color: #999;
    width: 70%;
}

.listImgClass {
    margin: 1rem;
}