.register-button {
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
    background: #42c02e;
    /* font-family: 宋体; */
}

.InputIcon {
    position: absolute;
    top: 0.5rem;
    left: 18rem;
    display: none;
}

.el-icon-success {
    color: #42c02e;
}

.el-icon-error {
    color: red;
}